<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <title>Test Execution Report</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col"><h3><strong>Test Execution Report</strong></h3></div>
    </div>
    <div class="row">
      <div class="card" id="features">
        <div class="card-header">Features</div>
        <ul class="list-group list-group-flush">
        <!-- Each Feature -->
        {{#each this}}
            <li class="list-group-item" id="feature-{{cleanid id}}">
              <a class="btn btn-dark" data-toggle="collapse" href="#featureExpand-{{cleanid id}}" role="button" aria-expanded="false" aria-controls="featureExpand-{{cleanid id}}">
                {{name}}
                <span name="scenarios_pass" class="badge badge-success"></span>
                <span name="scenarios_fail" class="badge badge-danger"></span>
              </a>            
              <div class="card collapse" id="featureExpand-{{cleanid id}}">
                <div class="card-header">Scenarios</div>
                {{> aggregations}}
              </div>
            </li>
        {{/each}} 
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      // Change the color of Scenario depending of whether any Step failed
      $("li[id^=scenario]").each(function (idx, e) {
        let noOfSteps = $(this).find("tr[id^=step]").length;
        let failedSteps = $(this).find("tr.table-danger").length;
        let skippedSteps = $(this).find("tr.table-warning").length;
        let scenarioLink = $(this).children('a');

        (noOfSteps-failedSteps-skippedSteps > 0) ? $(this).find('a>span[name=steps_pass]').text(noOfSteps-failedSteps-skippedSteps) : $(this).find('a>span[name=steps_pass]').hide();
        failedSteps > 0 ? $(this).find('a>span[name=steps_fail]').text(failedSteps) : $(this).find('a>span[name=steps_fail]').hide();
        skippedSteps > 0 ? $(this).find('a>span[name=steps_skip]').text(skippedSteps) : $(this).find('a>span[name=steps_skip]').hide();

        if (failedSteps > 0)
          scenarioLink.removeClass("btn-primary").addClass("btn-danger");
        else
          scenarioLink.removeClass("btn-primary").addClass("btn-success");
      });

      // Change the color of Feature depending of whether any Step failed
      $("li[id^=feature]").each(function (idx, e) {
        let noOfScenarios = $(this).find("li[id^=scenario]").length;
        let failedScenarios = $(this).find("li[id^=scenario]>a.btn-danger").length;
        let featureLink = $(this).children('a');

        (noOfScenarios-failedScenarios > 0) ? $(this).find('a>span[name=scenarios_pass]').text(noOfScenarios-failedScenarios) : $(this).find('a>span[name=scenarios_pass]').hide();
        failedScenarios > 0 ? $(this).find('a>span[name=scenarios_fail]').text(failedScenarios) : $(this).find('a>span[name=scenarios_fail]').hide();

        if (failedScenarios > 0)
          featureLink.removeClass("btn-primary").addClass("btn-danger");
        else
          featureLink.removeClass("btn-primary").addClass("btn-success");
      });
    });

  </script>

</body>
</html>

{{#*inline "aggregations"}}
<ul class="list-group list-group-flush">
  <!-- Each Scenario -->
    {{#each elements}}
      <li class="list-group-item" id="scenario-{{cleanid id}}">
        <a class="btn btn-dark" data-toggle="collapse" href="#scenarioExpand-{{cleanid id}}" role="button" aria-expanded="false" aria-controls="scenarioExpand-{{cleanid id}}">
          {{name}}
          <span name="steps_pass" class="badge badge-success"></span>
          <span name="steps_fail" class="badge badge-danger"></span>
          <span name="steps_skip" class="badge badge-warning"></span>
          </a>
        <div class="card collapse" id="scenarioExpand-{{cleanid id}}">
          <div class="card-body">
            <div class="card-header">Steps</div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Duration (sec)</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each steps}}
                  {{#eq result.status "passed"}}
                    <tr class="table-success" id="step-{{@index}}-{{cleanid ../id}}">
                  {{else}}
                    {{#eq result.status "failed"}}
                      <tr class="table-danger" id="step-{{@index}}-{{cleanid ../id}}">
                    {{else}}
                      <tr class="table-warning" id="step-{{@index}}-{{cleanid ../id}}">
                    {{/eq}}
                  {{/eq}}
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td>
                      {{keyword}} {{name}}
                      {{#if output}}
                        <div class="card">
                          <ul class="list-group list-group-flush">
                            {{#each output}}
                              <li class="list-group-item">{{this}}</li>
                            {{/each}}
                          </ul>
                        </div>
                      {{/if}}

                      {{#if result.error_message}}
                        <div class="card">
                          <div class="card-body">
                            {{result.error_message}}
                          </div>
                        </div>
                      {{/if}} 

                      {{#if embeddings}}
                        <div class="card">
                          <ul class="list-group list-group-flush">
                            {{#each embeddings}}
                              <li class="list-group-item">{{{embedmime data mime_type}}}</li>
                            {{/each}}
                          </ul>
                        </div>
                      {{/if}}

                    </td>
                    <td>{{duration result.duration}}</td>
                    <td>
                      {{#eq result.status "passed"}}
                        <span class="badge badge-success">PASS</span>
                      {{else}}
                        {{#eq result.status "failed"}}
                          <span class="badge badge-danger">FAIL</span>
                        {{else}}
                          <span class="badge badge-warning">SKIPPED</span>
                        {{/eq}}
                      {{/eq}}
                      </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>            
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{/inline}}